.about {
  padding: 20px;
  text-align: center;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Jarak  gambar dan teks */
  max-width: 900px;
  margin: 0 auto;
}

.about-image {
  width: 40%; /*  ukuran gambar */
  height: auto;
  border-radius: 8px;
}

.about-text {
  text-align: left; 
  max-width: 60%; 
}

.about h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.1em;
  margin-bottom: 20px;
}
